.bg {
  width: 100%;
  position: absolute;
  z-index: -1;
  opacity: 0.8;
  background-size: 4px 500px;
}

/* .container-fluid{
    background-color:transparent;
} */
.container-fluid {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  /* overflow: auto; */
}

.centered {
  font-size: xx-large;
  font-style: italic;

  /* font-weight: 100px; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-49%, -49%);
}

.centered1 {
  font-size: xx-large;
  font-weight: bolder;
  color: rgb(250, 250, 69);
  /* font-weight: 100px; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-70%, -60%);
}

.bg1 {
  width: 100%;
  position: absolute;
  z-index: -1;
  opacity: 0.9;
  height: 60%;
  width: 100%;
}

.card {
  justify-content: center;
  position: absolute;
  bottom: 25px;
  left: 16px;
  /* top:5px ; */
}

.card-title {
  justify-content: center;
  font-weight: bolder;
}

.txt {
  color: rgb(98, 179, 98);
  font-weight: bold;
}

.bg2 {
  /* width: 100%; */
  position: relative;
  /* z-index: -1; */
  opacity: 0.8;
  width: 50%;
  height: 50%;

}

.p1 {
  font-size: 40px;
  font-weight: bold;
  color: blueviolet;
  transform: translate(60%, -700%);

}

.btn {
  transform: translate(1160%, -1000%);
}